/**
 * page
 */
 html {
   background: url('../images/header.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

body {
  font-family: sans-serif;
  margin: 0;
}

.btn {
  -moz-box-shadow: 1px 1px 0px 0px #3dc21b;
	-webkit-box-shadow: 1px 1px 0px 0px #3dc21b;
	box-shadow: 1px 1px 0px 0px #3dc21b;
	background-color: #44c767;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 12px;
	text-decoration: none;
}

.btn:hover {
  background-color: #18ab29;
}

.btn:active {
  position:relative;
	top:1px;
}

/**
 * description
 */
.top {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 22vw;
  color: #fff;
  text-shadow: 2px 2px #232222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.title {
  text-align: center;
  margin-bottom: -0.5rem;
  font-weight: 400;
  font-size: 2.8rem;
}

.sub {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;

}

.how-to {
  line-height: 1.5rem;

}

@media (max-width: 767px) {
  .top {
    padding: 12vh 5vw;
    min-height: 100vh;
  }
  .title {
    font-size: 2rem;
  }
}

/**
 * tools
 */
.container {
  padding: 10vh 10vw;
  background-color: whitesmoke;
}

@media (max-width: 767px) {
  .container {
    padding: 2vh 5vw;
  }
}

.middle {
  margin-bottom: 60px;
  display: flex;
  flex-flow: row wrap;
}
.left {
  display: inline-block;
  flex-basis: 50%;
  flex-grow: 1;
}

.graph-input {
  margin-bottom: 18px;
}

/**
 * svg
 */
.right {
  display: inline-block;
  flex-basis: 50%;
  flex-grow: 1;
}

.graph-container {
  border-radius: 4px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

svg {
  width: 100%;
  height: 400px;
}

@media (max-width: 767px) {
  .graph-container {
    margin: 20px auto;
  }
  svg {
    width: 80vw;
  }
}

/**
 * user inputs
 */
hr {
  color: #ddd;
  margin: 4rem;
}

.bottom {
  margin-bottom: 40px;
}

.input-row {
  margin-bottom: 1rem;
}

.col {
  display: inline-block;
}

 .label {
   font-size: 0.8rem;
   font-weight: bold;
 }

.connection-input {
  margin: 0 6px 6px 6px;
}

.round {
  padding: 5px 10px;
}

.plus {

}
