/*
 * page
 */
body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.container {
  padding: 5vh 10vw;
}

/*
 * description
 */
.top {
  margin-bottom: 60px;
  display: flex;
  flex-flow: row wrap;
}
.left {
  display: inline-block;
  flex-basis: 50%;
}
.title {
  margin-top: 0;
}

.sub {
  font-style: italic;
}

.how-to {

}

/*
 * svg
 */
.right {
  display: inline-block;
  flex-basis: 50%;

}

.graph-container {
  border-radius: 4px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}


/*
 * user inputs
 */
.middle {

}
.row {
  margin-bottom: 18px;
}
.col {
  display: inline-block;
}
 .label {
   font-size: 0.8rem;
   font-weight: bold;
 }

.connection-input {
  margin: 0 6px 6px 6px;
}

.round {

}

.plus {

}


/*
 * graph control
 */
.bottom {

}
